html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Font families*/
@font-face {
	font-family: Oswald-VariableFont;
	src: url(./fonts/Oswald-VariableFont_wght.ttf);
}

/*CSS custom properties*/
:root {
	--main-font-family: Oswald-VariableFont, serif;
	--main-color: #F0F0F0;
	--secondary-color: #4F709C;
	--tertiary-color: #213555;
	--accent-color: #E5D283;
	--error-color: #FE0001;
	--main-font: Oswald-VariableFont, sans serif;
}

/*Styling and Positioning Layout Elements*/
body {
    height: 100vh;
    width: 100vw;
	font-family: var(--main-font);
}

.header {
	background-color: var(--tertiary-color);
	padding: 15px;
}

.header h1 {
	color: var(--main-color);
	padding-bottom: 15px;
	font-weight: 700;
	font-size: 35px;
}

.header button {
	font-family: var(--main-font);
}

.book-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	padding: 15px;
	gap: 15px;
	justify-items: center;
	background-color: var(--main-color);
}

.book-item {
	display: flex;
	flex-direction: column;
	background-color: var(--secondary-color);
	padding: 15px;
	width: 270px;
	height: 250px;
	color: var(--main-color);
}

.footer {
	background-color: var(--tertiary-color);
}

/*Styling for modal, overlay, and form*/

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
}

.modal-header h1 {
	color: var(--tertiary-color);
	font-size: 25px;
	padding-bottom: 30px;
}

.modal {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	z-index: 2;
}

/*Form styling*/

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.form-row {
	display: flex;
	flex-direction: column;
	gap: 2px;
	align-items: center;
}

#status-row {
	flex-direction: row;
}

input {
	border-style: solid;
	border-width: 1px;
}

#status-row input {
	width: 15px;
	height: 15px;
}

.submit-container {
	padding-top: 15px;
}

/*Display grid declarations*/
body {
    display: grid;
    grid-template-rows: 2fr 10fr 1fr;
}